body{background: #DCDCDC;}

#urna{
	margin: auto;
	margin-top: 1%;
	width: 60%;
	background: white;	
	height: 600px;
	border-radius: 1%;
	box-shadow: 5px 5px 5px black;
}

#tela-urna{
	position: absolute;
	width: 30%;
	background: #DCDCDC;	
	height: 500px;
	border-radius: 1%;
	margin: auto;
	margin-left: 1%;
	margin-top: 3.5%;
	box-shadow: 5px 5px 5px black;
}

#tela-botoes{
	position: absolute;
	background: black;
	width: 26%;	
	height: 500px;
	margin: right;
	margin-left: 32%;
	margin-top: 3.5%;
	border-radius: 1%;
	box-shadow: 5px 5px 5px #696969;
}

#n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9{
	float: left;
	width: 27%;
	background: black;
	height: 80px;
	border-radius: 3%;
	box-shadow: 3px 3px 0px -1px #696969;
	margin-top: 5%;
	margin-left: 4%;
	border: 1px solid #696969;
	font-size: 320%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height: 150%;
	vertical-align: middle;
}
			
#n0{
	/*margin: auto;*/
	margin-left: 35%;
	width: 27%;
	background: black;
	height: 80px;
	border-radius: 3%;
	box-shadow: 3px 3px 0px -1px #696969;
	border: 1px solid #696969;
	font-size: 320%;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height: 150%;
	vertical-align: middle;
}

#pai-n0{
	float: left;
	width: 100%;
	background: black;
	height: 80px;
	margin-top: 5%;
}

#nulo, #corrigir, #confirmar{
	float: left;
	width: 27%;
	height: 60px;
	border-radius: 3%;
	box-shadow: 3px 3px 0px -1px white;
	margin-top: 5%;
	margin-left: 4%;
	border: 1px solid #696969;
	color: black;
	font-size: 110%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	line-height: 300%;
}

#corrigir{background: #F60;}

#confirmar{background: #3C3;}


#nulo{background: #CCC;}

a{
	color: white;
	text-decoration: none;
}

h1, h2{
	text-align: center;
	line-height: 350px;
}

h3, h4{
	margin-left: 1%;
}

img{
	width: 70%;
	height: 260px;
	border-radius: 5px;
	margin-left: 15%;
}

#img-nulo{
	width: 80%;
	height: 260px;
	border-radius: 5px;
	margin-left: 10%;
}

.panel-footer{
	padding:5px 10px;
	background-color: #2F4F4F;
	border-top:1px solid #ddd;
	margin-top: 2%;
}
